.footer {

	padding: 32px 0;
	background: var(--dark-blue);

	// .footer__wrapper

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 600px) {
			flex-direction: column;	
			align-items: start;
		}
	}

	// .footer__col

	&__col {
		color: #fff;
		font-size: 13px;
		font-weight: 300;
		display: grid;
		grid-template-rows: auto auto;
		row-gap: 11px;
	}

	// .footer__rights

	&__rights {
	}

	// .footer__using

	&__using {
		line-height: 22px;
	}

	// .footer__link

	&__link {

		cursor: pointer;

		background: #cccccc;
		width: 31px;
		height: 31px;

		@media (max-width: 600px) {
			margin: 20px 0px 0px 0px;
		}

		svg{
			transform: rotate(45deg);
			width: 31px;
			height: 31px;
		}
	}
}
